<div class="result-display">
  <ul  *ngFor="let h of historyExp">
    <span *ngIf="displayHistory">
      {{h.expression}}
      <span *ngIf="h.isNumber">
        <br> = {{h.result}}
      </span>
      <span *ngIf="!h.isNumber">
        <br> <em>{{h.result}}</em>
      </span>
    </span>
  </ul>
</div>

<div class="input-display">
  <span id="error-text">{{errorText}}</span>
  <input name="expression" (keyup.arrowup)="prevHistory()" (keyup.arrowdown)="nextHistory()" type="text" class="form-control" placeholder="Type and press Enter" [(ngModel)]="expression" (keyup.enter)="doCalc(expression)"  />
  <button type="botton" (click)="clearInput()">Clear</button>
  <button type="button" (click)="clearHistory()">Clear history</button>
  <button type="button" (click)="toGraph(expression)">Graph</button>
</div>

<app-graphing #graphingComponent></app-graphing>
