.result-display {
	padding: 10px;
	text-align: right;
	font-size: 15px;
  color: white;
  background-color:#720D5D;
  height: 80%
}

.input-display {
  background-color: #4E0D3A;
  color: #fff;
  font-size: 15px;
  padding: 0.5em 0.75em;
  text-align: right;
}
.form-control {
  min-width: 0;
  width: 15em;
  color:red;
}

#error-text {
  color: pink;
  margin-right: 2em;
}
