<div class="result-display">
    <ul *ngFor="let h of historyService.historyExp">
      {{h.expression}}
      <span *ngIf="h.isNumber">
        <br> = {{h.result}}
      </span>
      <span *ngIf="!h.isNumber">
        <br> <em>{{h.result}}</em>
      </span>
  </ul>
</div>

<div class="input-display">
  <span id="error-text">{{errorText}}</span>
  <input appAutoFocus (keyup.arrowup)="historyService.prevHistory()" (keyup.arrowdown)="historyService.nextHistory()" type="text" class="form-control"
    placeholder="Type and press Enter" [(ngModel)]="historyService.expression" (keyup.enter)="doCalc(historyService.expression)"
    (keydown.esc)="historyService.clearInput()">
  </div>

<app-graphing #graphingComponent></app-graphing>
